server {
  listen {{ sentry_nginx_port }};

  location / {
    proxy_pass         http://{{ sentry_webserver.listen_ip }}:{{ sentry_webserver.listen_port }};
    proxy_redirect     off;

    proxy_set_header   Host              $host;
    proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
  }
}

