server {
  listen {{ sentry_nginx_port }};
  server_name {{ sentry_nginx_url }};

  location / {
    include     uwsgi_params;
    uwsgi_pass  {{ sentry_webserver.listen_ip }}:{{ sentry_webserver.listen_port }};
  }
}

